html, body,
ul, ol, li,
h1, h2, h3, h4, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Avenir Next";
}

.logo {
  float: left;
}

.header {
    background-color: rgb(92, 136, 177);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: cornsilk;
    height: 90px;
    padding: 20px 40px;
    text-align: center;
}

.header p {
  font-size: 25px;
  margin-top: 20px;
}

/* header */

/* NAV */
nav a{
  text-decoration: none;
}

.menu-list {
  background-color: rgb(92, 136, 177);
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.menu-list li {
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  line-height: 50px;
  padding-left: 25px;
  color: cornsilk;
}

nav a:visited {
  color: cornsilk;
}
nav a:link {
  color: cornsilk;
}
nav a:hover {
  font-size: 1.5em;
}


/* NAV */


/* main */

main {
    margin-left: 20px;
    margin-top: 20px;
    color: cornsilk;
}

@media only screen and (min-width: 411px) {}

#content_column {
    display: flex;
    flex-wrap: wrap;

}

article {
    flex: auto;
    flex-basis: 30%;
    text-align: justify;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(92, 136, 177);
    border-radius: 5px;
    padding: 20px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card img {
    margin-top: 15px;
    margin-bottom: 10px;
}

.tepo img {
  text-align: center;
}

/* footer */


footer{
  background-color: rgb(92, 136, 177);
  height: 140px;
  padding: 40px;
  margin: 20px 20px 20px 20px;
  border-radius: 5px;
}

.footer-logo{
  float: left;
  font-size: 32px;
  text-shadow: 3px 3px 5px rgb(204, 215, 224) ;
  padding-bottom: 20px;
}

.footer-list{
  float: right;
}

.footer-list li{
  list-style: none;
  padding-bottom: 20px;
}

footer{
  display: flex;
  flex-direction: column;
}
